/*
ie in R use the following chunk options
#| class-source: wide_chunck 
#| classes: wide_chunck 
*/
/*
.wide_chunck {
width: 90px !important;
}
*/

.small-code {
    font-size: 22px;  
}

.custom-link {
    color: #003247 !important; /*  color for the link text */
    text-decoration: none; /* Optional: removes underline from links */
}

.custom-link:hover {
    color: #FFA07A !important; /* Medium Slate Blue color for hover state */
    text-decoration: underline; /* Optional: underline on hover */
}
