/*-- scss:defaults --*/
// Base document colors
$link-color: #1F67A4;

/*-
$presentation-heading-color: #000000;
$background-color: #8FA9C2;
$presentation-heading-font: "Lato", "Roboto", sans-serif;
$body-bg: #FFFFFF;

.sectionhead {
  font-size: 1em !important;
  text-align: center;
  color: $presentation-heading-color;
  font-family: $presentation-heading-font;
  background-color: $body-bg;
  margin: 1px;
  padding: 2px 2px 2px 2px;
  width: 120px;
  border-left: 10px solid !important;
}
*/

// see https://quarto.org/docs/presentations/revealjs/themes.html for more info 
